<h1>Compose Post</h1>

<form action="/compose" method="post">
    <input type="text" name="postTitle">
    <textarea name="postBody" id="" cols="30" rows="10"></textarea>
    <button type="submit">Post Blog</button>
</form>